Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
WTForms
psycopg2-binary
Werkzeug
email-validator
Pillow
python-dotenv
email-validator
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Pillow
psycopg2-binary
python-dotenv
Werkzeug
WTForms
Flask-Login
oauthlib
requests
